<%= form_for([@photo.gallery, @photo]) do |f| %>
    <%= render 'shared/errors', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :image %>
    <%= f.file_field :image %>

    <%= f.label :prints %>
    <%= collection_select(:photo, :print_ids, Print.all, :id, :name,
                          {selected: @photo.print_ids}, {multiple: true}) %>

    <div>
      <%= f.submit "Save", class: "btn btn-large btn-primary" %>
    </div>
<% end %>