<%= form_for(@gallery) do |f| %>
    <%= render 'shared/errors', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_field :description %>

    <%= f.label :cover %>
    <%= f.file_field :cover %>

    <div>
      <%= f.submit "Save", class: "btn btn-large btn-primary" %>
    </div>
<% end %>