<li class="span4">
  <div class="thumbnail">
    <%= link_to gallery do %>
        <%= image_tag gallery.cover.url(:thumb) %>
    <% end %>
    <div class="caption">
      <h3>
        <%= link_to gallery.title, gallery %>
      </h3>
      <% if is_admin? %>
          <p>
            <%= link_to "Edit", edit_gallery_path(gallery), class: "btn btn-primary btn-mini" %>
            <%= link_to "Delete", gallery, method: :delete,
                        data: { confirm: "Delete #{gallery.title}?" }, class: "btn btn-mini" %>
          </p>
      <% end %>
    </div>
  </div>
</li>