<% provide(:title, "Galleries") %>

<h1>Galleries</h1>

<section id="thumbnails">
  <ul class="thumbnails">
    <%= render 'galleries/gallery_thumbnail' %>
    <%= render 'galleries/gallery_thumbnail' %>
    <%= render 'galleries/gallery_thumbnail' %>
    <%= render 'galleries/gallery_thumbnail' %>

    <%= render 'galleries/gallery_thumbnail' %>
    <%= render 'galleries/gallery_thumbnail' %>
    <%= render 'galleries/gallery_thumbnail' %>
    <%= render 'galleries/gallery_thumbnail' %>

    <%= render 'galleries/gallery_thumbnail' %>
    <%= render 'galleries/gallery_thumbnail' %>
    <%= render 'galleries/gallery_thumbnail' %>
    <%= render 'galleries/gallery_thumbnail' %>
  </ul>
</section>